:root {
    --button-color: #deb8a1;
    --text-color: #f0dfd7;
    --background-color: #503424;
    --background-dark-color: #382414;
    --button-hover-color: #614a3b;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 150px;
    width: 150px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: #382414;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

button:hover {
    background-color:  var(--button-hover-color);
}

button img {
    filter: invert(84%) sepia(34%) saturate(401%) hue-rotate(323deg) brightness(90%) contrast(93%);
}

.button-container {
    display: flex;
    gap: 10px;
}

